#container {
	MARGIN: 0px auto; WIDTH: 51%;
}
#content {
}
#logo_area {
	MARGIN: 0px auto; WIDTH: 60%; FONT-SIZE: 24px;
}
#notice_area {	
}
#flash_error {
}
#left_sidebar {
	FLOAT: left; WIDTH:	20%; MARGIN-LEFT: 1%; MARGIN-TOP: 5%;
}
#right_sidebar {
	FLOAT: right; WIDTH: 20%; MARGIN-RIGHT: 1%; MARGIN-TOP: 5%;
}
#comments_region{FONT-SIZE: 12px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #fff;
}
#article_body{ FONT-SIZE: 14px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #fff;
}
.created_at{FONT-SIZE: 10px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #fff; COLOR: #e98c08}
BODY {
	FONT-SIZE: 14px; FONT-FAMILY: Verdana, Helvetica, Arial; BACKGROUND-COLOR: #fff
}
A {
	COLOR: #1b97f2; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
H1 {
	FONT-SIZE: 24px
}
H2 {
	FONT-SIZE: 18px; COLOR: #e98c08
}
H2 A {
	FONT-SIZE: 18px; COLOR: #e98c08
}
H3 {
	FONT-SIZE: 14px; COLOR: #666
}
H4 {
	FONT-SIZE: 12px; MARGIN-BOTTOM: 5px
}
